:root {
    --AlarmText: #688EFF;
}

html {
    background-color: #222222;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* FONT */
    font-family: 'Monda', sans-serif;
}


a {
    text-decoration: none;
}

.container {
    width: auto;
    max-width: 90vw;

    margin: 0 auto;
}


.AlarmText{
    color: var(--AlarmText);
}

p > i {
    font-style: normal;
    color: var(--AlarmText);
}

i {
    font-style: normal;
    color: var(--AlarmText);
}
