/*********************************************************************/
/* HEADER */

.AboutHeader{
    width: 100%;

    height: 100vh;
    text-align: center;

    background-image: url(../../img/AboutHeaderBacground.svg);
    /* background-position: center ; */
    background-size:cover ;
    background-repeat: no-repeat;
    
}

.ContentBox > h1{
    margin: 0 auto;

    font-size: 120px;
    font-style: bold;
}

.ContentBox > h1 > p {
    color: var(--AlarmText);
}

/*********************************************************************/

/*********************************************************************/
/* MAIN */






