/*********************************************************************/
/* HEADER */

.AboutHeader{
    width: 100%;

    height: auto;
    text-align: center;

}

.ContentBox > h1{
    margin: 0 auto;

    font-size: 120px;
    font-style: bold;
}

.ContentBox > h1 > p {
    color: var(--AlarmText);
}

/*********************************************************************/

/*********************************************************************/
/* MAIN */

.AboutMain{
    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */
}






