.AboutUS {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    width: auto;

    background-color: #222;
}




/************************************************/
/* About Us --- Header */
.HeadLine {
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;


}

.HeadLineText {
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
}


/************************************************/
/* About Us --- Main*/

.AboutUsMain {
    padding-top: 150px;

    display: flex;
    flex-direction: column;
    gap: 70px
}

.AboutUSMainSectionContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 35px;
}

.AboutUsMainSectionContentPos {
    float: right;
}

.AboutUsMainSectionContentPosBtn{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutUsMainSectionContent>h3 {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
}

.AboutUsMainSectionContent>p {
    max-width: auto;

    color: #fff;

    font-size: 48px;
    font-weight: 400;
}

.AboutUsMainSectionContentP1 {
    max-width: 707px;
}

.AboutUsMainSectionContentP2 {
    max-width: 809px;
    /* float: right; */
}

.AboutUsMainSectionContentP3 {
    max-width: 1054px;
}

.CastomBtn_1 {
    width: 460px;
    height: 174px;

    background: #394159;
    border-radius: 35px;

    color: var(--AlarmText) ;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    padding-top: 48.5px;
    text-align: center;
}

/************************************************/
/* About Us --- Foter*/

.AboutUsFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
}

.LoginForm{
    display: flex;
    flex-direction: column;
    gap: 93px;

    justify-content: center;
    align-items: center;
    vertical-align: middle;
}