.AboutUS {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    width: auto;

    background-color: #222;
}




/************************************************/
/* About Us --- Header */
.HeadLine {
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;


}

.HeadLineText {
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
}


/************************************************/
/* About Us --- Main*/

.AboutUsMain {
    padding-top: 150px;

    display: flex;
    flex-direction: column;
    gap: 70px
}

.AboutUSMainSectionContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 35px;
}

.AboutUsMainSectionContentPos {
    float: right;
}

.AboutUsMainSectionContentPosBtn {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutUsMainSectionContent>h3 {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
}

.AboutUsMainSectionContent>p {
    max-width: auto;

    color: #fff;

    font-size: 48px;
    font-weight: 400;
}

.AboutUsMainSectionContentP1 {
    max-width: 707px;
}

.AboutUsMainSectionContentP2 {
    max-width: 809px;
    /* float: right; */
}

.AboutUsMainSectionContentP3 {
    max-width: 1054px;
}

.CastomBtn_1 {
    width: 460px;
    height: 174px;

    background: red;
    border-radius: 35px;

    color: var(--AlarmText);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    padding-top: 48.5px;
    text-align: center;
}

/************************************************/
/* About Us --- Foter*/

.AboutUsFooter {
    height: 100vh;
    max-height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
}

/************************************************/
/* About Us --- Login Form*/

.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 93px;

    width: 585px;
    height: 500px;

    background: #FFFFFF;
    opacity: 0.7;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.15);
    border-radius: 40px;

    align-items: center;
    justify-content: center;
}

.LoginFormInput {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.Input {
    width: 331px;
    height: 56px;

    box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 8px;

    padding-left: 22px;
}

.CastomBtn_2 {
    width: 305px;
    height: 56px;

    background: linear-gradient(270deg, #495E9D 0%, #688EFF 100%);
    border-radius: 49px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    text-align: center;

    color: #FFFFFF;
}

/************************************************/
/* About Us --- Social midea links*/
.OurLinks {
    padding-left: 59px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    align-items: flex-start;
    justify-content: center;

    width: 523px;
    height: 314px;


    background: #000000;
    opacity: 0.5;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
}

.OurLinks>a {
    color: #fff;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
}