.AboutUS {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    width: auto;
    height: auto;
}

.AboutUS>* {
    height: auto;
    width: auto;
}


/************************************************/
/* About Us --- Header */

.HeadLine {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
}

.HeadLine>h1>p {
    color: var(--AlarmText);
}


/************************************************/
/* About Us --- Main*/

main{ height: 200vh;}

.AboutUsMainConent {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

